<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="defaultUrl" value="https://qa-sandbox.apps.htec.rs/" />
    <add key="username" value="stefanrasevic@gmail.com" />
    <add key="password" value="Re@9er1108" />
  </appSettings>
</configuration>